[submodule "NimbusU-frontend"]
	path = NimbusU-frontend
	url = git@github.com:SureshAmal/NimbusU-frontend.git
[submodule "NimbusU-UI"]
	path = NimbusU-UI
	url = git@github.com:SureshAmal/NimbusU-UI.git
[submodule "NimbusU-backend"]
	path = NimbusU-backend
	url = git@github.com:SureshAmal/NimbusU-backend.git
